body{
	background: #F8F8F8;
	font-family: 'News Cycle', sans-serif;
	text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 14px;
    margin-left: 200px;
    overflow: hidden;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
   /* padding: 10px;*/
}

li a {
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),auto;
}

li a:hover:not(.active) {
    background-color: #ffe6ff;
}

p {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 40px;
}

#banner {
    position: fixed;
    float: left;
    margin-top: 0px
}

#container { 
    margin-bottom: 50px; }


/*Notes: make text in separate div with left positioned text, and with margin at current location. Move blog title over to be flush with text body. Add color to sides of blog in blank space and make text background white*/
